.site-main {
    max-width: $width_content;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 20px;
    line-height: 1.3;
    font-size: 18px;
}

h1.entry-title {
    margin-top: 0;
}

.wp-block-gallery {
    margin-left: 0;
    margin-right: 0;
}

.tags-links {
    & a {
        color: #759454;
    }
}

.wp-block-post-title {
    & a {
        color: inherit;
        text-decoration-color: transparent;
        transition: text-decoration-color 200ms linear;

        &:hover,
        &:focus {
            text-decoration-color: inherit;
        }
    }
}

// post type portfolio
.type-portfolio {
    display: block;
}